<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Library</title>
    <style>
        h1{
            text-align: center;
        }
    </style>

    
    
</head>
<body>
    <h1>Library</h1>
    <br>
    <form>
        <fieldset>
            <legend>
                Login form
            </legend>
            
            <label for="username">Username</label>
            <input type="text" placeholder="Enter your username">
            <br>
            <label for="password">Password</label>
            <input type="text" placeholder="Enter your password">
            <br>
            <input type="submit" value="submit">
        </fieldset>
    </form>
    
</body>
</html>