<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UiForgotPasswordPage.css') }}">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Reset password</h2>
                    <div class="inputbox">
                        <input type="username" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" required>
                        <label for="">Confirm Password</label>
                    </div>
                    <button><p >Reset</p></button>
                    <div class="BTlogin">
                        <p>Back to <a href="/login_page" >Log in</a></p>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</body>
</html>
