<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UiLoginPage.css') }}">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">

                    <h2>Login</h2>
                    <div class="login_button">
                        <form action="/login_page" method="POST">
                            <div class="inputbox">
                                <ion-icon name="person-outline"></ion-icon>
                                <input type="username" required name="username_login" value="{{username_login}}">
                                <label for="">Username</label>

                            </div>
                            <div class="inputbox">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" required name="password_login" value="{{password_login}}">
                                <label for="">Password</label>
                            </div>
                            <button type="submit">Log in</button>
                        </form>
                    </div>

                    <div class="forget_password">
                    
                        <p>If you <a href="/forgot_password" rel="noopener noreferrer">Forget
                                Password</a></p>
                    </div>


                    <div class="register">
                        <p>Don't have a account? <a href="/register_page" 
                                rel="noopener noreferrer">Register</a></p>
                    </div>
            </div>
        </div>
    </section>
</body>
</html>
