<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UiMainPage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section>
        <nav>
            <div class="logo">
                <img src="static/image/logo.png">
            </div>
            <form action="/search" method="post">
                <input type="text" name="search_text" placeholder="ค้นหา...">
                <button class="right_button" type="submit">ค้นหา</button>

            </form>
            <div class="social_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-heart"></i>
                <button color="black" class="left_button" type="button">Add book</button>
                <button class="middle_button" type="button">Delete book</button>

                <button type="button">
                    <a href="/login_page" class="right_button">
                        Log out
                    </a>
                </button>

            </div>
            <!--
            <div class="log_in_button">
                <button type="button">Log in</button>
                <button type="button">Log out</button>
            </div>
            -->
        </nav>

        <div class="main">
            <div class="main_tag">
                <h1>WELCOME TO<br><span>BOOK STORE</span></h1>
                <p>
                    --EDIT ME PLEASEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE--
                </p>
                <!--
                <a href="/UiLoginPage.html" class="main_btn">Log in</a>
                -->
            </div>

            <div class="main_img">
                <img src="static/image/table.png">
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='script/UiMainPage.js') }}"></script>
</body>

</html>