<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UiRegisterPage.css') }}">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/register_page" method="POST">
                    <h2>sign up</h2>
                    <div class="inputbox">
                        <input type="username" name = "username" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" name  = "password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" name = "Confirm_password" required>
                        <label for="">Confirm Password</label>
                    </div>
                    
                    
                    <button type="submit">Sign up</button>
                    <div class="signin">
                        <p>Alredy have an account? <a href="/login_page" >Log in</a></p>

                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</body>
</html>
